.dbtn {
  margin: 0;
  background: white;
  border: 1px solid #2f4f4f;
  border-radius: 5px;
  padding: 8px 16px;

  &:hover {
    background: #2f4f4f;
    color: white;
    transition: .5s;
  }
}

.a-dbtn {
  align-self: center;
  margin-left: 8px;

  }

.show-btn {
  padding: 2px 4px;
  margin: 6px;
  margin-left: 0;
}
