.dform-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin-top: 32px;

  .dform {
    display: flex;
    justify-content: center;

  .top {
    margin-top: 16px;
  }

  .bottom {
    margin-top: 16px;
  }

    input {
      width: 350px;
    }
}
}
