.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: $dgray;
  height: 40px;
  align-content: center;
  a {
    align-self: center;
    font-size: 24px;
    color: white;
    padding: 0 12px;
    text-decoration: none;
  }
}
